# Файлы macOS
.DS_Store

# Зависимости
node_modules/
.pnpm-store/

# Сборка
dist/
build/
*.tsbuildinfo

# Результаты тестов
dist-test/
coverage/
playwright-report/
test-results/

# Переменные окружения
.env
.env.*
!.env.example

# Логи
*.log
npm-debug.log*
pnpm-debug.log*

# Настройки редакторов
.idea/

# Временные файлы
*.tmp
*.swp
